// TODO: import/use variables partial
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    border: 1px solid $border-color;
    border-radius: 5px;
    &__image img {
        display: block;
        border: 0;
        width: 100%;
        height: auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 15px 20px 15px;
    }
    &__text--small,
    &__subtext {
        font-size: .875rem;
    }
    &__subtext {
        font-weight: 500;
        >span {
            font-size: 90%;
            font-weight: normal;
        }
    }
    &
    &__icon-link {
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__topic {
        font-size: .75rem;
        font-weight: 500;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        word-spacing: normal;
        letter-spacing: -.01rem;
        line-height: 26px;
        @include md {
            line-height: 30px;
            letter-spacing: -0.03rem;
        }
    }
    &__subtitle {
        color: #000;
        font-size: 90%;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .75rem;
        letter-spacing: 0;
        margin-top: auto;
        padding-top: 1rem;
    }
    &__topic, &__footer {
        line-height: 1.2rem;
        word-spacing: normal;
        color: #787679;
    }
}

// HOVER STATES
.card--hoverup {
    transition: $transition-shadow-transform;
    &:hover {
        @include shadow-transform-hover;
    }
}

.card--expand {
    @include xs {
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding-bottom: 1rem;
    }
    @include md {
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0;
    }
    .card {
        &__image {
            img {
                @include xs {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
                @include md {
                    object-fit: unset;
                    width: auto;
                    height: auto;
                }
            }
        }
        &__content {
            @include xs {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        &__title {
            font-size: 1.125rem;
            line-height: 26px;
            @include sm {
                font-size: 1.25rem;
            }
        }
        &__label {
            display: none;
            @include sm {
                display: block;
            }
        }
        &__date {
            display: none;
            @include sm {
                display: block;
            }
        }
        &__footer .card__author {
            display: none;
            @include sm {
                display: block;
            }
        }
    }
}