.btn__primary {
    background-color: rgba($accent, .8);
    padding: 8px 15px;
    color: $light-color;
    font-weight: 400;
    transition: background-color 200ms linear;
    &:hover {
        background-color: rgba($accent, 1);
    }
}
.btn__secondary {
    background-color: transparent;
    padding: 8px 15px;
    border: 1px solid #ccc;
    font-weight: 400;
    transition: border-color 200ms linear;
    &:hover {
        border-color: rgba($accent, .9);
    }
}
.btn__more {
    margin-left: 1rem;
}
.btn__circle {
    background-color: rgba($accent, .8);
    color: $light-color;
    font-weight: 400;
    transition: background-color 200ms linear;
    border-radius: 50%;
    &:hover {
        background-color: rgba($accent, 1);
    }
}

// TODO: import/use variables partial
.card {
    display: flex;
    margin-bottom: 12px;
    border: 1px solid $border-color;
    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
    }
    &__image {
        display: block;
        border: 0;
        width: 100%;
        height: auto;
    }
    &__body {
        margin: 15px 20px 0;
    }
    &__category {
        font-weight: 500;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        font-size: .5rem;
        letter-spacing: 0;
        margin: auto 20px;
    }
    &__category, &__footer {
        font-size: .75rem;
        line-height: 1.2em;
        word-spacing: normal;
        font-weight: 500;
        color: #787679;
        margin-bottom: 15px;
    }
    &__title {
        font-size: 1rem;
        font-weight: 700;
        word-spacing: normal;
        letter-spacing: -.01em;
        line-height: 1.3em;
        padding-bottom: .5em;
        text-transform: capitalize;
    }
    &__subtitle {
        color: #000;
        font-size: 90%;
    }
    &__date {
        display: none;
    }
    &__media {
        position: relative;
    }
    &__label {
        position: absolute;
        margin: 4px;
        font-size: .875rem;
        padding: 2px 4px;
        border-radius: 2px;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .card {
        &__date {
            display: block;
        }
    }
}