.btn--primary {
    background-color: rgba($accent, .8);
    border-radius: 0.1875rem;
    border: 1px solid rgba($accent, .8);
    padding: 8px 15px;
    color: $light-color;
    font-weight: 400;
    transition: background-color 200ms linear;
    &:hover {
        background-color: rgba($accent, 1);
    }
}
.btn--secondary {
    background-color: transparent;
    border-radius: 0.1875rem;
    padding: 8px 15px;
    border: 1px solid #ccc;
    font-weight: 400;
    transition: border-color 200ms linear;
    &:hover {
        border-color: rgba($accent, .9);
    }
}
.btn--more {
    border-radius: 0.1875rem;
    margin-left: 1rem;
}
// .btn--circle {
//     background-color: $accent;
//     width: 40px;
//     height: 40px;
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     left: 0;
//     bottom: 0;
//     border-radius: 50%;
//     margin: auto;
//     &-rb {
//         left: initial;
//         top: initial;
//         right: 24px;
//         bottom: -20px;
//     }
// }

.btn--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    background-color: $accent;
    color: $light-color;
    width: 48px;
    height: 48px;
    line-height: 0;
}

.react-rater-star.is-active {
    color: $accent;
}

// TODO: import/use variables partial
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    border: 1px solid $border-color;
    border-radius: 5px;
    &__image img {
        display: block;
        border: 0;
        width: 100%;
        height: auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 15px 20px 15px;
    }
    &__icon-link {
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__topic {
        font-size: .75rem;
        font-weight: 500;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        word-spacing: normal;
        letter-spacing: -.01rem;
        line-height: 26px;
    }
    &__subtitle {
        color: #000;
        font-size: 90%;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .75rem;
        letter-spacing: 0;
        margin-top: auto;
        padding-top: 1rem;
    }
    &__topic, &__footer {
        line-height: 1.2rem;
        word-spacing: normal;
        color: #787679;
    }
}

.card--expand {
    flex-direction: row;
    .card {
        &__image {
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        }
        &__content {
            flex: 1;
        }
        &__title {
            font-size: 1.125rem;
            line-height: 26px;
        }
        &__label {
            display: none;
        }
        &__date {
            display: none;
        }
        &__footer .card__author {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .card {
        &__title {
            //font-size: 1.25rem;
            line-height: 30px;
            letter-spacing: -0.03rem;
        }
    }
    .card--expand {
        flex-direction: column;
        .card {
            &__image {
                img {
                    object-fit: unset;
                    width: auto;
                    height: auto;
                }
            }
            &__title {
                font-size: 1.25rem;
            }
            &__label {
                display: block;
            }
            &__date {
                display: block;
            }
            &__footer .card__author{
                display: block;
            }
        }
    }
}