.card--wide {
    display: block;
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card__image {
        width: 120px;
    }
    .card__category {
        margin-bottom: 5px;
    }
    .card__title {
        padding-bottom: .5rem;
    }
    .card__footer {
        font-size: .5rem;
    }
    .card__author {
        display: none;
    }
    .card__text {
        color: $black;
        display: none;
        font-size: 0.9375rem;
        padding-bottom: .5rem;
        line-height: 1.3em;

    }
}

@media (min-width: 768px) {
    .cards .card--wide {
        flex-wrap: nowrap;
    }
    .card--wide {
        .card {
            &__image {
            width: 150px;
            }
            &__category {
                margin-bottom: 5px;
            }
            &__title {
                font-size: 1rem;
            }
            &__text {
                display: block;
            }
            &__footer {
                font-size: .5rem;
            }
        }
    }
}