.l-cards--minimal {
    background: #fff;
    padding-top: 10px;
}

.card--minimal {
    &:hover {
        @include box-shadow;
    }
    .card {
        &__title {
            font-size: 1.5rem;
        }
        &__footer {
            margin-top: 20px;
        }
        &__cta {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 15px;
        }
    }
}

@media (min-width: 768px) {
    .card--minimal {
        .card__body {
            padding: 40px 0;
        }
    }
}