.l-cards--cta {
    padding-top: 10px;
    margin-top: 15px;
}

.card--cta {
    .card {
        &__title {
            font-size: 1.75rem;
            line-height: 32px;
            padding-bottom: .375em;
            text-transform: inherit;
            @include md {
                font-size: 2rem;
            }
        }
        &__content {
            @include md {
                padding: 20px 0;
            }
        }
        &__footer {
            justify-content: flex-start;
            padding-top: 2rem;
            @include md {
                padding-top: 2rem;
            }
            .btn--secondary {
                margin-left: .8rem;
            }
        }
    }
    .btn {
        font-size: .9rem;
    }
}