.l-cards--cta {
    background: #fff;
    padding-top: 10px;
    margin-top: 15px;
    &.container {
        max-width: 1110px;
    }
}

.card--cta {
    flex-direction: column;
    transition: border .3s ease-in;
    &:hover {
        border: 1px solid rgba($accent, .4);
    }
    .card {
        &__title {
            font-family: $sans-font;
            font-size: 1.75rem;
            line-height: 32px;
            padding-bottom: .375em;
            text-transform: inherit;
        }
        &__footer {
            margin-top: 1.5rem;
            justify-content: flex-start;
            .btn__secondary {
                margin-left: .8rem;
            }
        }
    }
    .btn {
        font-size: .9rem;
    }
}

@media (min-width: 768px) {
    .card--cta {
        .card {
            &__title {
                font-size: 2rem;
            }
            &__body {
                padding: 20px 0;
            }
            &__footer {
                margin-top: auto;
            }
        }
    }
}