.card--overlay-icon {
    position: relative;
    .card {
        &__topic {
            margin-bottom: 0;
        }
        &__title {
            font-family: $sans-font;
            font-weight: 500;
            font-size: 1rem;
            line-height: 24px;
            padding-bottom: .5rem;
            @include md {
                line-height: initial;
            }
        }
        &__icon {
            color: $accent;
            font-size: 1.5rem;
            padding: 8px ;
            position: absolute ;
            right: 8px ;
            top: 8px ;
        }
        &__footer {
            font-size: .75rem;
            padding-top: 0;
            @include md {
                padding-top: 0.5rem;
            }
            .strike {
                text-decoration: line-through;
            }
            .price__sale {
                margin-left: 5px;
            }
            .rating {
                display: none;
                @include md {
                    display: block;
                }
            }
        }
    }
}