.card--overlay {
    border: none;
    position: relative;
    display: block;
    a {
        display: block;
    }
    .card {
        &__image {
            border-radius: 10px;
        }
        &__body {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding-bottom: 20px;
            padding-right: 24px;
            .model .card__title {
                text-transform: none;
            }
            &--dating {
                text-align: center;
            }
        }
        &__notification {
            color: $light-color;
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-size: 90%;
            font-weight: 700;
        }
        &__title {
            color: #fff;
            font-family: $sans-font;
            font-weight: 500;
            font-size: 95%;
            letter-spacing: .02em;
            padding-bottom: 0;
            text-transform: uppercase;
        }
        &__text {
            color: $light-color;
            font-size: 95%;
        }
        &__actions {
            color: $light-color;
            display: flex;
            align-items: center;
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 90%;
            div {
                display: block;
                margin-right: 15px;
            }
            .icon {
                font-size: 75%;
                padding-right: 2px;
            }
            &.swipe {
                justify-content: center;
                div {
                    border: 6px solid #F4F4F4;
                    border-radius: 50%;
                    height: 24px;
                    width: 24px;
                    padding: 15px;
                    margin-right: -5px;
                    box-sizing: initial;
                }
            }
            .swipe__left {
                fill: red;
            }
            .swipe__right {
                fill: $accent;
            }
        }
    }
    .separator {
        border-top: 3px solid $accent;
        padding-bottom: 10px;
        width: 10%;
    }
    .darken {
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 100%);
        opacity: 0.9;
        position: absolute;
        height: 80%;
        width: 100%;
        left: 0px;
        bottom: 0px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {}