.card--overlay-icon {
    position: relative;
    .card {
        &__category {
            margin-bottom: 5px;
        }
        &__title {
            font-family: $sans-font;
            font-size: 1rem;
            padding-bottom: .5rem;
        }
        &__icon {
            color: $accent;
            font-size: 1.5rem;
            padding: 8px ;
            position: absolute ;
            right: 8px ;
            top: 8px ;
        }
        &__footer {
            justify-content: flex-start;
            font-size: .875rem;
            .price__original {
                text-decoration: line-through;
            }
            .price__sale {
                margin-left: 5px;
            }
        }
    }
}

@media (min-width: 768px) {}