.card--label {
    .card {
        &__title {
            font-size: 1.25rem;
        }
        &__image {
            position: relative;
        }
        &__label {
            position: absolute;
            background-color: $accent;
            color: $light-color;
            bottom: 5px;
            left: 0;
            margin-left: 16px;
            padding: 3px 8px;
            font-size: 0.6875rem;
            border-radius: 5px;
            letter-spacing: .5px;
            text-transform: uppercase;
        }
        &__date {
            text-transform: uppercase;
        }
    }
}

.card--float {
    .card {
        &__image {
            position: relative;
        }
        &__icon {
            font-size: 1.25rem;
        }
        &__icon-link {
            position: absolute;
            right: 24px;
            bottom: -24px;
        }
    }
}

@media (min-width: 768px) {
    .card {
        &__label {
            display: block;
        }
        &__date {
            display: block;
        }
    }
}