.card--label {
    .card {
        &__label {
            background-color: $accent;
            color: $light-color;
            bottom: 5px;
            left: 0;
            margin-left: 16px;
            padding: 3px 8px;
            font-size: 0.6875rem;
            border-radius: 5px;
        }
        &__title {
            font-size: 1.5rem;
            line-height: 32px;
        }
        &__date {
            display: block;
        }
    }
}

@media (min-width: 768px) {

}