.l-cards--wide {
    background-color: $section-bg-color;
    padding: 15px 0;
}
.card--wide {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    .card {
        &__media {
        flex: 2;
        text-align: center;
        }
        &__image {
            border-radius: 2px;
        }
        &__body {
            flex: 2;
            margin-right: 0;
        }
        &__topic {
            color: $accent;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &__title {
            font-family: $sans-font;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 30px;
            padding-bottom: .5rem;
            text-transform: inherit;
        }
        &__footer {
            font-size: .5rem;
        }
        &__author {
            display: none;
        }
        &__text {
            display: none;
            font-size: 0.9375rem;
            padding-bottom: .5rem;
            line-height: 23px;
        }
    }
    .card__meta {
        display: none;
        &-comment {
            display: flex;
        }
        &-comment-count {
            padding-left: 5px;
        }
    }
}
// CARD REVERSE
.l-cards--wide--reverse {
    background-color: rgba($accent, .15);
    padding-top: 15px;
    padding-bottom: 15px;
}
.card--wide--reverse {
        flex-direction: column;
    .card {
        &__media {
            order: 1;
        }
        &__body {
            order: 2;
        }
        &__title {
            font-size: 1.5rem;
        }
        &__text {
            display: block;
        }
    }
    .btn__primary {
        display: initial;
    }
}

// HORIZONTAL REVERSE --VIDEO
.l-cards--wide--video {
    background-color: rgba($accent-warning, .15);
}
.card--wide--video {
    .card {
        &__media {
            position: relative;
        }
        &__icon {
            position: absolute ;
            border-radius: 50%;
            color: #fff;
            font-size: 1.5rem;
            line-height: 0;
            padding: 8px ;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .btn__circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 3rem;
        width: 3rem;
    }
}
.card.card--wide--video .card__icon {
    filter: none;
}

@media (min-width: 768px) {
    .card--wide {
        padding: 2.5rem 0px;
        flex-wrap: nowrap;
        flex-direction: row;
        .card {
            &__media {
                flex: 1;
                padding-left: 4rem;
            }
            &__body {
                flex: 1;
                padding-left: 3rem;
                padding-right: 5rem;
                margin: 15px 0;
            }
            &__topic {
                margin-bottom: 5px;
            }
            &__title {
                font-size: 2rem;
                line-height: 38px;
            }
            &__text {
                display: block;
                font-size: 1.25rem;
                line-height: 30px;
            }
            &__footer {
                font-size: .5rem;
            }
        }
        .card__meta {
            justify-content: space-between;
            display: flex;
        }
    }

    // REVERSE
    .l-cards--wide--reverse {
        margin-top: 0;
        padding-top: 0;
    }
    .card--wide--reverse {
        flex-direction: row;
        .card {
            &__media {
                order: 2;
            }
            &__body {
                order: 1;
            }
        }
    }

    //  HORIZONTAL -- VIDEO
    .card--wide--video {
        align-items: center;
        flex-direction: row;
        .card {
            &__title {
                font-size: 2.5rem;
                letter-spacing: -0.04rem;
                line-height: 48px;
            }
            &__media {
                flex-basis: 40%;
                padding-left: 0;
            }
            &__body {
                flex-basis: 40%;
            }
            &__icon {
                font-size: 2.5rem;
                line-height: 0;
            }
        }
        .btn__circle {
            height: 5rem;
            width: 5rem;
        }
    }
}