.card--social {
    .card__header {
        display: flex;
        align-items: center;
        padding: 20px 20px 0;
        .user__name {
            font-size: .875rem;
            line-height: 15px;
        }
        .card__date {
            font-size: 0.75rem;
        }
        .more-link {
            margin-left: auto;
        }
        .user__avatar img {
            @include border-circle;
            margin-right: 15px;
        }
    } //.card__header
    .card__content {
        padding-bottom: 15px;
        padding-top: 5px;
        .card__image {
            padding-top: .75rem;
            img {
                @include border-radius;
            }
        }
        .card__text {
            font-size: 0.9375em;
            line-height: 22px;
        }
    }
    .card__footer {
        padding: 20px 20px 10px;
        font-size: 1.125rem;
        .action__like a,
        .action__comment a {
            display: flex;
            align-items: flex-end;
            &:hover {
                color: $accent;
            }
        }
        .action__like .icon {
            @include transition-transform;
            &:hover {
                @include scale(1.5);
            }
        }
        .count {
            font-size: .8125rem;;
            font-weight: normal;
            margin-left: 0.4375rem;
        }
    }
}

// CARD OVERLAP
.card--overlap {
    border: none;
    margin-bottom: 1.25rem;
    .card {
        &__content {
            background-color: #fff;
            margin: -2.25rem 1rem 0 1rem;
            padding: 0;
            text-align: center;
            @include md {
                margin: -2.25rem 2.1875rem 0 2.5rem;
            }
        }
        &__title {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 28px;
            padding: 1.25rem 1rem .5rem;
            @include sm {
                font-size: 1.75rem;
                line-height: 32px;
            }
            @include md {
                padding: 1.25rem 1rem .75rem;
            }
        }
        &__footer {
            display: initial;
            margin-top: 0;
            padding-top: 0;
            @include md {
                //padding-top: 2rem;
            }
        }
    }
}

// TOUR
.card--tour {
    .card {
        &__title {
            font-size: 1.125rem;
            line-height: 30px;
        }
        &__text {
            padding-top: 0;
        }
    }
}
// EXPAND / MEDIA OBJECT
.cards--stacked {
    flex-direction: column;
}
.card--media-object {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-bottom: 1rem;
    // @include md {
    //     flex-direction: column;
    //     border: 1px solid rgba(0, 0, 0, 0.1);
    //     padding-bottom: 0;
    // }
    .card {
        &__image {
            img {
                width: 90px;
                height: 90px;
                object-fit: cover;
                @include md {
                    width: 400px;
                    height: 300px;
                }
            }
        }
        &__content {
            padding-top: 0;
            padding-left: 15px;
            @include md {
                padding-top: 15px;
                padding-left: 50px;
            }
        }
        &__title {
            font-size: 1rem;
            line-height: 22px;
            @include sm {
                font-size: 1.25rem;
                line-height: 24px;
            }
            @include md {
                font-size: 2rem;
                line-height: 40px;
            }
        }
        &__label {
            display: none;
            @include sm {
                display: block;
            }
        }
        &__text {
            display: none;
            padding-top: .5rem;
            @include md {
                display: block;
            }
        }
        &__date {
            display: none;
            margin-left: 1rem;
            @include sm {
                display: block;
            }
        }
        &__footer {
            margin-top: 0;
            justify-content: flex-start;
        }
        &__footer .card__author {
            display: none;
            @include sm {
                display: block;
            }
        }
    }
}