.card--label {
    .card {
        &__image {
            position: relative;
        }
        &__label {
            position: absolute;
            display: block;
            background-color: $accent;
            color: $light-color;
            bottom: 5px;
            left: 0;
            margin-left: 16px;
            padding: 3px 8px;
            font-size: 0.6875rem;
            border-radius: 5px;
            letter-spacing: .5px;
            text-transform: uppercase;
        }
        &__date {
            display: block;
            text-transform: uppercase;
        }
    }
}

@media (min-width: 768px) {}