.l-cards--minimal {
    background: #fff;
    padding-top: 10px;
}

.card--minimal {
    .card {
        &__title {
            font-family: $sans-font;
            font-size: 1.5rem;
            text-transform: inherit;
            span {
                border-bottom: 1px solid transparent;
                transition: border-bottom .3s ease-in;
            }
            &:hover span {
                border-bottom: 1px solid rgba($accent, .5);
            }
        }
        &__footer {
            margin-top: 20px;
        }
        &__cta {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 15px;
        }
        &__content {
            @include md {
                padding: 40px 0;
            }
        }
    }
}

// THEMED
.l-cards--minimal-themed.container {
    padding-left: 0;
    padding-right: 0;
    @include md {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.l-cards--minimal-themed .l-cards__heading {
    padding-left: 1rem;
}
.card--minimal--themed {
    color: $light-color;
    border: none;
    border-radius: initial;
    padding: 5rem 2rem;
    margin-bottom: 0;
    .card {
        &__topic {
            color: rgba($light-color, .6);
        }
        &__footer {
            color: $light-color;
            font-size: .9375rem;
            justify-content: flex-start;
            >span {
                margin-right: .5rem;
            }
            span {
                display: initial;
            }
        }
    }
}