.l-cards--horizontal {
    background-color: $section-bg-color;
    padding: 15px 0;
}
.card--horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    @include md {
        padding: 2.5rem 0px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .card {
        &__image {
            flex: 2;
            text-align: center;
            @include md {
                flex: 1;
                padding-left: 4rem;
            }
        }
        &__image {
            border-radius: 2px;
        }
        &__content {
            flex: 2;
            margin-right: 0;
            @include md {
                flex: 1;
                padding-left: 3rem;
                padding-right: 5rem;
                margin: 15px 0;
            }
        }
        &__topic {
            color: $accent;
            font-weight: 500;
            margin-bottom: 5px;
            @include md {
                margin-bottom: 5px;
            }
        }
        &__title {
            font-family: $sans-font;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 30px;
            padding-bottom: .5rem;
            text-transform: inherit;
            @include md {
                font-size: 2rem;
                line-height: 38px;
            }
        }
        &__footer {
            font-size: .8rem;
            margin-top: 0;
            padding-top: 0;
            @include md {
                margin-top: 1rem;
            }
        }
        &__author {
            display: none;
        }
        &__text {
            display: none;
            font-size: 0.9375rem;
            padding-bottom: .5rem;
            line-height: 23px;
            @include md {
                display: block;
                font-size: 1.25rem;
                line-height: 30px;
            }
        }
    }
    .card__meta {
        display: none;
        &-comment {
            display: flex;
            align-items: center;
        }
        &-comment-count {
            padding-left: 5px;
        }
    }
}
// CARD REVERSE
.l-cards--horizontal-reverse {
    background-color: rgba($accent, .15);
    padding: 15px;
    @include md {
        margin-top: 0;
        padding-top: 0;
    }
}
.card--horizontal-reverse {
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
    .card {
        &__image {
            order: 1;
            @include md {
                order: 2;
            }
        }
        &__content {
            order: 2;
            @include md {
                order: 1;
            }
        }
        &__title {
            font-size: 1.5rem;
        }
        &__text {
            display: block;
            margin-bottom: 0.75rem;
        }
    }
    .btn {
        display: initial;
        align-self: flex-start;
    }
}

// HORIZONTAL VIDEO
.l-cards--horizontal-video {
    background-color: rgba($accent-warning, .15);
}
.card--horizontal-video {
    @include md {
        flex-direction: row;
    }
    .card {
        &__image {
            position: relative;
            @include md {
                flex-basis: 40%;
                padding-left: 0;
            }
        }
        &__content {
            @include md {
                flex-basis: 40%;
            }
        }
        &__icon-link {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            &:hover {
                transform: translate(-50%, -50%) scale(1.2);
            }
        }
    }
    .btn--circle {
        height: 4rem;
        width: 4rem;
        opacity: .85;
    }
}

// MUSIC PLAYER
.l-cards--horizontal-music {
    .container {
        display: flex;
        justify-content: center;
        background-color: #f8f6f4;
        padding: 1rem;
        @include md {
            padding: 2rem 0;
        }
    }
}
.card--music {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $light-color;
    max-height: 150px;
    @include box-shadow;
    @include xs {
        justify-content: space-between;
        max-height: 150px;
    }
    @include md {
        max-width: 450px;
    }
    .card {
        &__image {
            order: 2;
            padding-right: .5rem;
            @include xs {
                flex-basis: 150px;
                padding-right: 0;
            }
            @include md {
                flex-basis: 150px;
            }
        }
        &__title {
            font-size: 1rem;
        }
        &__content {
            order: 1;
            flex: initial;
            margin-top: .5rem;
            @include md {
                margin-top: 20px;
            }
        }
    }
    .controls__list {
        display: flex;
        margin-top: .5rem;
        @include xs {
            margin-top: 1rem;
        }
        @include md {
            margin-top: 2rem;
        }
        li {
            margin-right: 1rem;
            cursor: pointer;
            @include transition-transform;
            &:hover {
                @include scale(1.5);
                color: $accent;
            }
        }
    }
}