.l-cards--minimal {
    background: #fff;
    padding-top: 10px;
}

.card--minimal {
    .card {
        &__title {
            font-family: $sans-font;
            font-size: 1.5rem;
            text-transform: inherit;
            span {
                border-bottom: 1px solid transparent;
                transition: border-bottom .3s ease-in;
            }
            &:hover span {
                border-bottom: 1px solid rgba($accent, .5);
            }
        }
        &__footer {
            margin-top: 20px;
        }
        &__cta {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 15px;
        }
    }
}

@media (min-width: 768px) {
    .card--minimal {
        .card__content {
            padding: 40px 0;
        }
    }
}