
.card.card--testimonial {
    flex-direction: column;
}
.card--testimonial {
    .card__text {
        line-height: 1.5;
    }
    .card__footer {
        color: $black;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.875rem;
        padding-top: 15px;
    }
    .author__image {
        @include border-circle;
        margin-right: 15px;
    }
}