.card--video-hover {
    position: relative;
    .card {
        &__media {
            position: relative;
        }
        &__category {
            margin-bottom: 0;
        }
        &__body {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 1.5rem;
        }
        &__icon {
            display: block;
            color: $light-color;
            font-size: 1.5rem;
            padding: 8px ;
            position: absolute ;
            right: 8px ;
            top: 8px;
        }
        &__label {
            background-color: #000;
            color: $light-color;
            bottom: 0;
            right: 0;
        }
    }
}

@media (min-width: 768px) {
    .card--video-hover {
        .card {
            &__icon {
                display: none;
            }
        }
    }
    // experimental, need to be nested
    .card:hover .card__icon {
        display: block;
    }
}