.card--video {
    position: relative;
    .card {
        &__image {
            position: relative;
        }
        &__topic {
            margin-bottom: 0;
        }
        &__content {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 1.25rem;
        }
        &__icon {
            position: absolute ;
            color: $light-color;
            font-size: 3rem;
            padding: 8px ;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}