.card--video-hover {
    position: relative;
    @include md {
        &:hover .card__icon {
            display: block;
        }
    }
    .card {
        &__image {
            position: relative;
        }
        &__topic {
            margin-bottom: 0;
        }
        &__content {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 1.25rem;
        }
        &__icon {
            display: block;
            color: $light-color;
            font-size: 1.5rem;
            padding: 8px ;
            position: absolute ;
            right: 8px ;
            top: 8px;
            @include md {
                display: none;
            }
        }
        &__label {
            position: absolute;
            background-color: #000;
            color: $light-color;
            bottom: 0;
            right: 0;
            margin: 4px;
            font-size: .875rem;
            padding: 2px 4px;
            border-radius: 2px;
        }
    }
}