@import '../variables';
@import '../grid.scss';
@import '../../styles/cards/base';
@import '../../styles/cards/blog';
@import '../../styles/cards/blog-minimal';
@import '../../styles/cards/blog-label';
@import '../../styles/cards/blog-wide';
@import '../../styles/cards/cta';
@import '../../styles/cards/overlay';
@import '../../styles/cards/product';
@import '../../styles/cards/video';
@import '../../styles/cards/video-hover';
@import '../../styles/cards/testimonials';

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
