@import '../variables';
@import '../grid.scss';
@import '../../styles/cards/base';
@import '../../styles/cards/stacked';
@import '../../styles/cards/stacked-minimal';
@import '../../styles/cards/stacked-label';
@import '../../styles/cards/stacked-horizontal';
@import '../../styles/cards/cta';
@import '../../styles/cards/overlay';
@import '../../styles/cards/overlay-product';
@import '../../styles/cards/video';
@import '../../styles/cards/video-hover';
@import '../../styles/cards/testimonials';

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
