{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": ["css", "markup"],
      "plugins": ["copy-to-clipboard"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}