//320
@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} }
//576
@mixin sm { @media (min-width: #{$screen-sm-min}) {@content;} }
//768
@mixin md { @media (min-width: #{$screen-md-min}) {@content;} }
//992
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} }
//1200
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} }

@mixin truncate($width: 100%) {
	width: $width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin borderRadius($radius: 5px) {
    border-radius: $radius;
}

a {
    @include borderRadius(3px);
}

@mixin shadow-transform-hover( $top : 0 , $left : 4 , $blur : 8px , $spread : 0px , $color : rgba(0,0,0,.01 )) {
    box-shadow: $top $left $blur $spread $color;
    transform: translate(0px, -12px);
}