$accent: #068466;
// $accent: #03a87c;
$accent-pink: rgb(255, 97, 97);
$accent-warning: #f19953;
$body-color: #f5f5f5;
//$body-color: #fff;
$section-bg-color: #f8f6f4;
$text-color: #353e44;
$light-color: #fff;
$black: #000;
$border-color: rgba(0, 0, 0, 0.1);
$border-radius: .3125rem;
$sans-font: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$transition-shadow-transform:
    box-shadow 200ms ease,
    transform 200ms ease;

@mixin shadow-transform-hover( $top : 0 , $left : 4 , $blur : 8px , $spread : 0px , $color : rgba(0,0,0,.01 )) {
    box-shadow: $top $left $blur $spread $color;
    transform: translate(0px, -12px);
}