@import './variables';
@import './mixins';
@import './buttons';
@import './grid';
@import '../styles/cards/cards';

.react-rater-star {
    font-size: 1rem;
    &.is-active,
    &.will-be-active {
        color: $accent!important;
    }
}

.main__header .container {
    @include md {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__author {
        font-size: 90%;
        padding-top: .5rem;
        @include md {
            padding-top: 0;
        }
        a {
            color: rgb(209, 235, 217);
        }
    }
}

.intro {
    background-color: $section-bg-color;
    padding: 1rem 0 0.125rem;
    line-height: 40px;
    @include md {
        padding: 2rem 0 .5rem;
        line-height: 40px;
    }
    .container {
        text-align: left;
        margin-bottom: 2rem;
        padding-right: 20px;
        @include md {
            padding-right: 320px;
        }
    }
    &__heading {
            font-family: $sans-font-bold;
            font-size: 1.75rem;
            line-height: 35px;
            word-spacing: -10px;
        @include md {
            font-size: 2.5rem;
            line-height: 44px;
            word-spacing: -18px;
        }
    }
    .intro__link {
        margin-top: 1rem;
        @include md {
            margin-top: 0.5;
        }
    }
    .accent {
        color: $accent;
    }
}
