@import './variables';
@import './mixins';
@import './buttons';
@import './grid';
@import '../styles/cards/cards';

.react-rater-star {
    font-size: 1rem;
    &.is-active,
    &.will-be-active {
        color: $accent!important;
    }
}

.intro {
    background-color: $section-bg-color;
    padding: 2rem 0;
    line-height: 30px;
    @include md {
        line-height: 40px;
    }
    .container {
        text-align: center;
        margin-bottom: 2rem;
    }
    .intro__link {
        margin-top: 1rem;
    }
}
