@import '../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Rubik:400,600,700,Roboto:400,500,700&display=swap');

// CSS Reset
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
}
// End CSS reset

body {
    background-color: $light-color;
    color: $text-color;
    font-family: $sans-font;
    text-rendering: optimizelegibility;
    margin: 0;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: inherit;
}
h4 {
    font-size: 1.75rem;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.03rem;
}
pre[class*="language-"] {
    margin: 0!important;
}
.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1140px;
}
.intro {
    background-color: $section-bg-color;
    padding: 2rem 0;
    .container {
        text-align: center;
        margin-bottom: 2rem;
    }
}
.l-cards__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        color: rgba($accent, .7);
        margin: 1rem 0;
    }
}
.w-50 {
    width: 80%;
}
.show-code {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .625rem;
    font-weight: normal;
    text-transform: uppercase;
}
.code-button {
    cursor: pointer;
    display: inline-block;
}
.button {
    display: inline-block;
    padding: 1.0625rem 1.6875rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: #444950;
    border-radius: 0.1875rem;
    border: none;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-weight: 800;
    &--green {
        color: #fff;
        background-color: $accent;
    }
}
.l-ui .container + .container {
    border-bottom: 1px solid rgba($accent, .2);
    padding-bottom: 15px;
}
.main__footer {
    font-size: .875rem;
    background-color: #f8f6f4;
    margin-top: 20px;
    padding-top: 46px;
    padding-bottom: 48px;
    a {
        color: $accent;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}

div.code-toolbar > .toolbar {
    opacity: 1!important;
    button {
        cursor: pointer;
    }
}