@import '../styles/variables';
@import url("https://use.typekit.net/zov3qyw.css");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,Roboto:400,500,700&display=swap');

body {
    background-color: $light-color;
    color: $text-color;
    font-family: $sans-font;
    text-rendering: optimizelegibility;
    margin: 0;
}
figure {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1140px;
}
.intro {
    text-align: center;
    h2 {
        color: #1c1e21;
        font-size: 2.125rem;
        //line-height: 4.375rem;
        margin-bottom: 1rem;
    }
    h3 {
        color: #444950;
        font-size: 1.125rem;
        //line-height: 2.375rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }
}
.button {
    display: inline-block;
    padding: 1.0625rem 1.6875rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: #444950;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-weight: 800;
    &--green {
        color: #fff;
        background-color: $accent;
    }
}

@media (min-width: 768px) {
    body {
        background-color: $body-color;
    }
}